<html>
<head>
 <title>Asset Tracking</title>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<div align="center">
 <h1>Asset Tracking</h1>
 
 <div id="navmenu">
 <ul>
    {% for item in nav.top %}
    <li class="{{ 'current' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
 </ul>
 </div>
 <br>
 <hr>

 <!--generate our csrf token for reporters to retrieve--> 
 <form>
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
 </form>
 </div>

 </body>
</html>