<html>
<head>
 <title>Asset Tracking</title>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
 <h1>Asset Tracking</h1>
 
 <div id="navmenu">
 <ul>
    {% for item in nav.top %}
    <li class="{{ 'current' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
 </ul>
 </div>
 <br>
 <hr>

 <form action="/reportwrite" method="POST">
	Tag:
	<input type="text" name="tag" id="tag">
	Location:
	<input type="text" name="location" id="location">
	 <!--generate our csrf token--> 
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	<input type="submit" value="Insert">
 </form>
 <hr>

 <table>
	<tr>
		<th>Asset</th>
		<th>Tag</th> 
		<th>Location</th>
		<th>Time</th>
	</tr>
	{% for userinput in userinputs %}
	<tr>
        <td style="max-width:35%;"><div> {{userinput.assetid}} </div></td>
		<td style="max-width:25%;"><div> {{userinput.tagid}} </div></td>
		<td style="max-width:25%;"><div> {{userinput.locationid}} </div></td>
		<td style="max-width:15%;"><div> {{userinput.timestamp}} </div></td>
	</tr>
	{% endfor %}
 </table>
 
</html>