<html>
<head>
 <title>Asset Tracking</title>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
 <h1>Asset Tracking</h1>
 
 <div id="navmenu">
 <ul>
    {% for item in nav.top %}
    <li class="{{ 'current' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
 </ul>
 </div>
 <br>
 <hr>
 
 <form action="/upsertwrite" method="POST">
	Asset:
	<input type="text" name="asset" id="asset">
	Tag:
	<input type="text" name="tag" id="tag">
	<!--generate our csrf token--> 
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  <input type="submit" value="Insert">
 </form>
 <hr>

 <table>
	<tr>
		<th>Asset</th>
		<th>Tag</th> 
		<th>Location</th>
		<th>Time</th>
	</tr>
	{% for userinput in userinputs %}
	<tr>
        <td> {{userinput.assetid}} </td>
		<td> {{userinput.tagid}} </td>
		<td> {{userinput.locationid}} </td>
		<td> {{userinput.timestamp}} </td>
	</tr>
	{% endfor %}
 </table>
 
 <br><a href="./deleteall">Delete all</a>
	
</html>