<html>
<head>
 <title>Demo</title>
</head>
<body>
 <h1>Test Upserting</h1>
 <form action="/upsertwrite" method="POST">
	Asset:
	<input type="text" name="asset" id="asset">
	Tag:
	<input type="text" name="tag" id="tag">
	<!--blank fields--> 
	<input type="hidden" name="reader" id="reader" value="">
	<input type="hidden" name="timestamp" id="timestamp" value="">
	<!--generate our csrf token--> 
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  <input type="submit" value="Insert">
 </form>
 <a href="./deleteall">Delete all</a>

  {% for userinput in userinputs %}
 <!--<p>'{{userinput.assetid}}' has database id {{userinput._id}}</p>-->
 <p><b>{{userinput.assetid}}</b> has tag id <b>{{userinput.tagid}}</b> 
 and is in location: <b>{{userinput.readerid}}</b> as of <b>{{userinput.timestamp}}</b></p>
 {% endfor %}

	<br><a href="/">Index</a><br>
	
</html>